.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
.tooltip.show {
  opacity: 0.9;
}
.tooltip .tooltip-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}
.tooltip .tooltip-arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^=top] {
  padding: 0.4rem 0;
}
.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[x-placement^=top] .tooltip-arrow {
  bottom: 0;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^=right] {
  padding: 0 0.4rem;
}
.bs-tooltip-right .tooltip-arrow, .bs-tooltip-auto[x-placement^=right] .tooltip-arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-right .tooltip-arrow::before, .bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^=bottom] {
  padding: 0.4rem 0;
}
.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow {
  top: 0;
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^=left] {
  padding: 0 0.4rem;
}
.bs-tooltip-left .tooltip-arrow, .bs-tooltip-auto[x-placement^=left] .tooltip-arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-left .tooltip-arrow::before, .bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 0.25rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #444444;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.smooth,
.icon-preview {
  transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
}

*::selection {
  background: #256eee;
  color: #ffffff;
}

*::-moz-selection {
  background: #256eee;
  color: #ffffff;
}

*::-webkit-selection {
  background: #256eee;
  color: #ffffff;
}

.particles-js-canvas-el {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -20px;
}

.hljs {
  padding: 10px 30px !important;
  border-radius: 15px;
}

h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 1;
}

h1 > *,
h2 > * {
  display: block;
}

h1 > p,
h2 > p {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

h1 > small,
h2 > small {
  font-weight: 100;
  font-size: 20px;
  line-height: 1.2;
  text-shadow: none;
}

.head {
  min-height: 40vh;
  width: 100%;
  background-image: radial-gradient(at 70% 40px, #113745, #09232d, #04151c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0 20px 20px 20px;
}

.head > .menu {
  clear: both;
  z-index: 9999;
}

.head > .menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.head > .menu > ul > li {
  display: inline-block;
  margin: 0 !important;
  padding: 0;
  float: left;
  margin: 0 10px;
}

.head > .menu > ul > li > a {
  display: block;
  margin: 0;
  padding: 40px 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 23px;
  font-weight: 100;
  text-shadow: none;
}

.head > .menu > ul > li > a:hover,
.head > .menu > ul > li > a:active,
.head > .menu > ul > li > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.head h1 > p {
  opacity: 0.9;
  font-size: 50px;
}

.head > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > .px {
  margin-top: 20px;
  padding: 30px 30px 0 30px;
  font-size: 20vh;
  opacity: 0.8;
}

.head input {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  margin: 0 auto;
  width: 100%;
  outline: none;
  font-weight: 300;
}

.head input::placeholder {
  color: #ffffff;
  opacity: 0.4;
}

.head input:hover,
.head input:active,
.head input:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.head input:focus {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.head input:hover::placeholder,
.head input:active::placeholder,
.head input:focus::placeholder {
  opacity: 0.6;
}

.head .star-rating > div {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
  padding: 25px 60px;
  margin: 45px auto;
  z-index: 999;
}

#icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#landing,
#playground {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

#landing a {
  text-decoration: none;
  color: #3D7EF0;
  border-bottom: 0 solid transparent;
}

#landing a:hover {
  border-bottom: 2px solid #3D7EF0;
}

.content {
  flex-grow: 1;
  padding: 70px;
}

.content table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.content table th,
.content table td {
  padding: 10px;
}

.content table th {
  border: 1px solid #0f3f94;
}

.content table td {
  border: 1px solid #666666;
}

.content table > thead > tr {
  background-image: linear-gradient(177deg, #3D7EF0 0%, #0e48af 100%);
  color: #ffffff;
}

.content table > tbody > tr:nth-child(even) {
  background-color: #ecf2fe;
}

.content table code {
  padding: 7px 10px;
  border-radius: 10px;
  font-family: monospace, monospace;
  background-color: #444444;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
}

.content h2 code {
  padding: 2px 5px;
  border-radius: 5px;
  font-family: monospace, monospace;
  background-color: #ecf2fe;
  display: inline-block;
  color: #5e5e5e;
}

.content .notice {
  margin-top: 40px;
  margin-bottom: 30px;
}

.content .notice > .info-icon {
  border-radius: 10px;
  background-color: #3D7EF0;
  padding: 6px 9px;
  color: #ffffff;
  font-size: 20px;
}

footer {
  position: relative;
  min-height: 150px;
  width: 100%;
  background-image: linear-gradient(177deg, #3D7EF0 0%, #0e48af 100%);
}

.footer {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 70px;
}

/* Small display exclusive */
/* Large display exclusive */
@media (min-width: 1100px) {
  .head > .menu {
    position: absolute;
    top: 0;
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
